################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WordFinderQU/obj
/WordFinderQU/bin/Debug/net8.0
